<div class="layout layout--col gap--none">
  <span class="title">{{resort_name}}</span>
  <div class="divider my--10"></div>
  <div class="grid grid--cols-5">
    <div class="flex flex--col  col--span-2">
      <div class="w--full px--2">
        {% render "show_progress", value: {{slopes_open_km}}, total: {{slopes_total_km}} , unit: "km" %}
        <div class="divider my--3"></div>
          {% render "show_progress", label: "Otwarte trasy", value: {{slopes_open_count}}, total: {{slopes_total_count}} %}
         <div class="divider my--3"></div>
          {% render "show_progress", label: "Otwarte wyciągi",, value: {{lifts_open_count}}, total: {{lifts_total_count}} %}
       </div>
    </div>
    <div class="col--span-3 pl--10">
      <div class="flex flex--col gap--medium w--full flex--center">
        <div class="grid grid--cols-2">
          {% render "show_item", label: "Góra", value: {{snow_mountain}}, unit: "cm" %}
          {% render "show_item", label: "Dolina", value: {{snow_valley}}, unit: "cm" %}
        </div>
        <div class="divider"></div>
        <div class="grid grid--cols-2">
          {% render "last_snowfall_item", snowfall: {{last_snowfall}} %}
          {% render "show_item", label: "Nowy śnieg", value: {{new_snow}}, unit: "cm" %}
        </div>
        <div class="divider"></div>
        <div class="grid grid--cols-2">
          {% render "snow_condition_item", condition: {{snow_condition}} %}
          {% render "show_item_small", label: "Zagrożenie lawinowe", value: {{avalanche_warning}} %}
        </div>
      </div>
    </div>
  </div>

</div>
<div class="title_bar">
  <img class="image" src="https://www.bergfex.at/c/wp-content/uploads/2023/06/icon-tours.svg">
  <span class="title">Bergfex</span>
  <span class="instance">{{ resort_name }}</span>
</div>
