<div class="layout layout--col gap--none">
  <div class="grid grid--cols-5">
    <div class="flex flex--col  col--span-2">
      <div class="w--full px--2">
        {% render "show_progress", id: "slopes_open_count", value: {{slopes_open_count}}, total: {{slopes_total_count}} %}
        <div class="divider my--3"></div>
        {% render "show_progress", id: "lifts_open_count", value: {{lifts_open_count}}, total: {{lifts_total_count}} %}
      </div>
    </div>
    <div class="col--span-3 pl--10">
      <div class="flex flex--col gap--medium w--full flex--center">
        <div class="grid grid--cols-2">
          {% render "show_item", id: "snow_mountain", value: {{snow_mountain}}, unit: "cm" %}
          {% render "show_item", id: "snow_valley", value: {{snow_valley}}, unit: "cm" %}
        </div>
        <div class="divider"></div>
        <div class="grid grid--cols-2">
          {% render "last_snowfall_item", snowfall: {{last_snowfall}} %}
          {% render "show_item", id: "new_snow", value: {{new_snow}}, unit: "cm" %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://www.bergfex.at/c/wp-content/uploads/2023/06/icon-tours.svg">
  <span class="title">Bergfex</span>
  <span class="instance">{{ resort_name }}</span>
</div>

{% render "translations", locale: trmnl.user.locale %}

